.DS_Store
.mirc
.idea
__debug_bin
!*.example
/config.yaml
*.log
/paopao-ce
/paopao
/.env
/.envrc
/release
/server/release
/data
/custom
/server/custom
/.custom
/run.sh
/web/dist
.codegraph/daemon.pid
